 
body {
	overflow: auto;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	/* Definir filas para el encabezado, contenido y pie de página */
	grid-template-columns: 100%;
	/* Una sola columna */
	min-height: 100vh;
	background-color: #f0f0f0;
}
main {
	display: grid;
	grid-template-rows: auto 1fr;
	/* Definir filas para el encabezado y contenido */
	grid-template-columns: 100%;
	z-index: 1;
    margin: 15px;
}
footer {
	background-color: #333;
	/* Color de fondo para el pie de página */
	color: white;
	/* Color de texto para el pie de página */
	padding: 20px;
	/* Espaciado interior para el pie de página */
}
#header {

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: rgba(255, 255, 255, 0.719);
	z-index: 2;
	position: sticky;
	top: 0;
	padding: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	/* Agrega una sombra al encabezado */
}
/* Estilos para el encabezado fijo */
.header-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	max-width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	position: relative;
    width: 100%;

}
.logo-container {
	flex-direction: column;
	align-items: center;
}
.logo-link {
	display: flex ;
	text-decoration: none;
	margin-bottom: 10px;
	z-index: 2;

}
.logo {
	margin: 0 auto;
	max-width: 300px;
	border: none;
	transition: transform 0.3s ease;
}

.logo-link:hover .logo {
	transform: translateY(2px) scale(1.05);
}
.logo1 {
	width:65%;
	border: none;
	transition: transform 0.3s ease;
}

/* Estilos para el elemento de inicio de sesión */
.login-item {
    margin-left: 10px; /* Ajusta el espacio a la izquierda del elemento de inicio de sesión */
}

/* Estilos para el enlace de inicio de sesión */
.login-link {
    text-decoration: none; /* Quita la decoración de subrayado */
    color: black; /* Color del texto */
    font-weight: bold; /* Peso de la fuente */
    display: flex; /* Permite alinear el ícono y el texto verticalmente */
    align-items: center; /* Alinea el ícono y el texto verticalmente */
}

/* Estilos para el ícono de inicio de sesión */
.login-link i {
    margin-right: 5px; /* Ajusta el espacio a la derecha del ícono */
}

.nav-list2 {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
	transition: height 0.3s;
}
.nav-list2 li {
	margin: 0 10px;
}
.nav-list2 li:last-child {
	margin-right: 0;
}
.nav-list2 li a button {
	background-color: transparent;
	border: none;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 0px;
	font-size: 20px;
	cursor: pointer;
	transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
	box-shadow: none;
	z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-list2 li a button:hover {
	background-color: #041F1E;
	color: white;
	transform: translateY(0);
}
.gray-bar-container .nav-list2 ul {
    margin: 0; /* Elimina el margen predeterminado de la lista <ul> */
    padding: 0; /* Elimina el relleno predeterminado de la lista <ul> */
}
.gray-bar {
	background-color: #5A7D7C;
	bottom: 0;
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	top: 0;
	width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.459);
}
.gray-bar-container {
    background-color: #5A7D7C;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 2;
    padding: 10px;
}

.gray-bar-container .nav-list2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    outline: none;
	align-self: flex-end;
	position: sticky;
	bottom: 0;
}
.gray-bar-container .nav-list2 li {
	margin: 0 5px;
}
.gray-bar-container .nav-list2 li:last-child {
	margin-right: 0;
}
.gray-bar-container .nav-list2 li:first-child {
	margin-left: 0;
}
.gray-bar-container .nav-list2 li a button {
	background-color: transparent;
	border: none;
	color: #ffffff;
	padding: 0px;
	border-radius: 0px;
	font-size: 20px;
	cursor: pointer;
	transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
	box-shadow: none;
	z-index: 2;
	margin-top: 10px;
}
.gray-bar-container .nav-list2 li a button:hover {
	background-color: #e5f4e3;
	color: white;
	transform: translateY(0);
}
.nav-list2 li a button i.bi-newspaper{
	font-size: 25px;
}
.nav-list2 li a button i.bi-person{
	font-size: 25px;
}
.nav-list2 li a button i.bi-book {
	font-size: 25px;
	/* Cambia el tamaño del ícono */
}



@media (max-width: 1258px) {

	.logo{
		width: 100%;
	}

	.logo1 {
		width: 100%;
		max-width: 280px;
		align-content: center;
	}

	.nav-button2{
		display: none;
	}

	.nav-button4{
		
		display: flex;
		margin: 0 auto;
		
	}
	.overlay{
		display: none;
	}    

    .other-news-container{
        text-align: start;
        
    }
    .other-news-container1{
        text-align: start;
    }


}
@media (min-width: 1257px) {

.barsearch{
	display:flex;
}
.nav-button4{
	display: none;

}
.other-news-container{
    margin-right: 920px;
    text-align: center;

}
.other-news-container1{
    margin-right: 950px;
    text-align: center;
}
	
}

.menu-toggle {
    font-size: 20px;
    font-family: 15px;
    display: block;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 15px;
	
}

.offcanvas {
    position: fixed;
    top: 0;
    width: 20%;
    left: -100%;
    height: 100%;
    background-color: #5A7D7C;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 90;
    border: none;
}

.offcanvas ul {
    list-style-type: none;
    padding: 10px;
}

.offcanvas ul li {
    margin-bottom: 15px;
}

.offcanvas .logo-container {
    border-bottom: 1px solid #ffffffee; /* Ajusta el color y el estilo según tus necesidades */
    padding-bottom: 10px; /* Espaciado entre la línea de separación y el logo */
	text-decoration: none;
}

/* Opcional: quita el margen inferior del último elemento dentro del logo-container */
.offcanvas .logo-container li:last-child {
    margin-bottom: 0;
}

.offcanvas a {
    color: #ffffffd7;
    font-size: 30px;
    transition: color 0.3s; /* Agrega una transición para el cambio de color */
}

/* Agrega un efecto de iluminación al pasar el ratón */
.offcanvas a:hover {
    color: #ffffff; /* Cambia el color al pasar el ratón */
	text-decoration: none;
}

.content {
    margin-left: 250px;
    padding: 20px;
	margin-left:0 ;
}

@media screen and (max-width: 1258px) {


    .offcanvas {
        width: 100%;
        left: -100%;
    }


}
.btn-close {
    font-size: 40px;
    opacity: 0.7;
    background: transparent;
    border: none;
    position: absolute;
    top: 5px; /* Ajusta la posición vertical según tus necesidades */
    right: 10px; /* Ajusta la posición horizontal para colocar el botón a la derecha */
    cursor: pointer;
}

.btn-close:hover {
    color: #000;
    opacity: 1;
}


.overlay {
    position: fixed;
    top: 0;
    left: 20%;
    width: 95%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    pointer-events: none; /* Permite que los clics pasen a través del overlay */
}


.barsearch {
    align-items: center;
}

#search-autocomplete {
    display: block; /* Inicialmente oculto */
    align-items: center;
    max-width: 200px;
    padding: 0 10px;
}

#search-input {
	display: block;
    border: none;
    background: white;
    outline: none;
    padding: 10px;
    width: 180px; /* Ancho inicial del campo de búsqueda */
}

#search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}


.news-container {
    max-width: 1200px;
    margin: 0 auto;
}
.news-article {
    cursor: pointer;
}
.news-article {
    background-color: #f4f4f4;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.342);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-article h2 {
    margin: 12px;
    text-align: start;
}
.news-article h5 {
	text-align: center;
	font-family: 'Prime', sans-serif;
}

/* Estilo adicional para el hover */
.news-article:hover {
    transform: translateY(-5px);
}


.news-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin: 0 auto; /* Centra el contenedor en la página */
    max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
    margin-bottom: 40px;
}

.news-row .news-article {
    max-height: 1100px; /* Ajusta la altura máxima según tus necesidades */
    overflow: hidden; /* Oculta cualquier contenido que exceda la altura máxima */
    width: 100%; /* Ocupa el 100% del ancho de su contenedor */
}
.news-row2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin: 0 auto; /* Centra el contenedor en la página */
    max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
    margin-bottom: 40px;
}

.news-row2 .news-article {
    max-height: 600px; /* Ajusta la altura máxima según tus necesidades */
    overflow: hidden; /* Oculta cualquier contenido que exceda la altura máxima */
    width: 100%; /* Ocupa el 100% del ancho de su contenedor */
}

@font-face {
    font-family: 'Prime';
    src: url('font/Primeform.otf') format('opentype');

	font-family: 'Finish';
    src: url('font/Finish.ttf') format('opentype');

}
.nav-button2#todoslosproductos-button {
	font-family:'Arial' , sans-serif; 
}

.other-news-container h6 {
	font-family: 'Finish', sans-serif; /* Change the font family */
	font-size: 40px; /* Change the font size */
    margin-top: 16px;

}
.other-news-container1 h6 {
	font-family: 'Finish', sans-serif; /* Change the font family */
	font-size: 35px; /* Change the font size */
    margin-top: 16px;

}

.carousel-caption h5 {
    font-family: 'Prime', sans-serif; /* Use the same font family for both elements */
    font-size: 30px; /* Change the font size as desired */
    font-weight: bold; /* You can adjust the font weight if needed */
    color: #ffffff; /* Change the color as needed */
}

.footer-dark footer {
    background-color: #5A7D7C; /* Cambia el color de fondo del footer a azul (#3498db) o al color que desees */
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.281);

} 
  .footer-dark h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
  }
  
  .footer-dark ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
  }
  
  .footer-dark ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.6;
  }
  
  .footer-dark ul a:hover {
	opacity:0.8;
  }
  
  
  @media (max-width:767px) {
	.footer-dark .item:not(.social) {
	  text-align:center;
	  padding-bottom:20px;
	}
  }
  
  .footer-dark .item.text {
	margin-bottom:36px;
  }
  
  @media (max-width:767px) {
	.footer-dark .item.text {
	  margin-bottom:0;
	}
  }
  
  .footer-dark .item.text p {
	opacity:0.6;
	margin-bottom:0;
  }
  
  .footer-dark .item.social {
	text-align:center;
  }
  
  @media (max-width:991px) {
	.footer-dark .item.social {
	  text-align:center;
	  margin-top:20px;
	}
  }
  
  .footer-dark .item.social > a {
    font-size: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
    text-decoration: none;
    transition: opacity 0.2s; 
}

.footer-dark .item.social > a:hover {
    opacity: 1; 
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

